
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
 /* overflow-x: hidden */
}
html,body{
  overflow-x: hidden;
}
/* Google font */
 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Charm:wght@400;700&family=Combo&family=Crafty+Girls&family=Festive&family=Gruppo&family=Karla:ital,wght@0,200..800;1,200..800&family=Merienda:wght@300..900&family=Monsieur+La+Doulaise&family=Nothing+You+Could+Do&family=Parisienne&family=Plaster&family=Playwrite+VN:wght@100..400&family=Radley:ital@0;1&family=Tangerine:wght@400;700&family=Tektur:wght@400..900&display=swap');
 

.wallpaper{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.wallpaper .wallimg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.arrow_left{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px ;
  bottom: 8em;
  z-index: -1;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #000000;

  transition: all 0.3s ease-in;

}
.larrow{
  font-size: 25px;
  color: rgb(255, 255, 255);
  transition: color
  0.3s ease;
  border: 1px solid white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  
}
.arrow_left:hover{
  transform: scale(1.05) translateX(-4px);
}
/* navbar design starts */
.nav{
  margin: 0 auto;
  width: 30%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.nav a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.285);
  letter-spacing: 2px;
  /* font styles */
  font-size: 16px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  transition: color 0.3s ease, box-shadow 0.3s ease-in;
}
.nav a:hover{
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.815);
  box-shadow: 0px 2px 0.2px 0.1px white;
  
}

/* stringer models desgin starts */
.kia_stringer_models{

  display: flex; 
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 80%;
  padding-bottom: 40px;
}
.kia_stringer_models.show{
  animation: show 1s ease forwards;
}

@keyframes show{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.stringer_item_card {
  flex: 1 4;
  border: 1px solid white;
  transition: flex 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
}

.stringer_item_card:hover {
  flex: 2;
}

.stringer_item_card img {
  width: 100%;
  height: 200px;
 object-fit: cover;
 border-radius: 10px;
}
/* car grid categories */
  .car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .car-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    transition: transform 0.5s ease-in;
    cursor: pointer;
  }

  .car-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .car-card h4 {
    margin: 10px 0 5px;
  }

  .car-card p {
    color: #007bff;
    cursor: pointer;
    margin-bottom: 0;
  }
  .car-card:hover{
    transform: translateY('-5px');
  }

/* Kia Brand Image */
.kiadealers {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
}

.kiadealers img {
  height: 650px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  min-height: 300px;
  min-width: 100%;
  width: 100%;
  object-fit: cover;
}

.button_explore {
  position: absolute;
  z-index: 2; 
  top: 40%;
  left: 5%;
  color: rgb(0, 0, 0);
  height: 50px;
  width: 150px;
  border: 2px solid black;
  background-color: rgba(213, 213, 213, 0.489);
  font-weight: 600;
  border-radius: 10px;
  letter-spacing: 2px;
  transition: background 0.3s ease,color 0.3s ease,border 0.2s ease;
  cursor: pointer;
}
.button_explore:hover{
  background-color: black;
  color: white;
  border: 2px solid white;
}

/* Kia basic section */

.basic{
  width: 100%;
  height: 50vh;
  background: black;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subbasic{
  height: 300px;
  width: 33%;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  border: 2px solid gray;
  margin: 0 2px;

}
.subbasic img{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
}
.subbasic div{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: white;
  z-index: -1;
}
.subbasic div span{

  margin: 10px 5px;
}